@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.custom_title{
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #2b8a8a;
    margin-bottom: 12px;
}