@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.button{
    width: 240px;
    height: 40px;
    border-radius: 10px;
    background-color: #F24405;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-family: "Outfit", sans-serif;
}

.button:hover{
    background-color: #d33800;
}