@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.img_rank{
    width: 50%;
    transition: 0.8s;
}
.sec_rank{
    justify-self: center;
    padding: 2%;
    display: flex;
}
.sec_rank ul li{
    list-style-type: none;
    text-align: left;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 4px #535963;
}
.sec_rank h5{
    margin-bottom: 50px;
    font-size: 25px;
    color: white;
    text-shadow: 0px 0px 4px #535963;
}
.bloco_rank, .bloco_stat{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    background-color: #22BABB;
    padding: 4%;
    margin: 3%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000003a;
    font-family: "Outfit", sans-serif;
}

.art_rank{
    width: 30%;
    margin-top: 30px;
    transition: 0.8s;
    border-radius: 5px;
}
.bloco_rank p{
    background-color: #000000;
    padding: 10px;
    border-radius: 20px;
    color: #9EF8EE;
    font-size: 20px;
    padding-inline: 20px;
    transition: 0.8s;
}
.bloco_rank h3{
    font-size: 1.5rem;
}
.bloco_rank{
    background-color: #9EF8EE;
}
.bloco_stat{
    background-color: #348888;
}
.img_rank:hover{
    transform: scale(1.1,1.1);
}
.bloco_rank p:hover{
    transform: scale(1.1,1.1);
}
.art_rank:hover{
    transform: scale(1.1,1.1);
}